@font-face {
    font-family: SpaceMono-Bold;
    src: url('/assets/fonts/SpaceMono-Bold.ttf');
  }

  @font-face {
    font-family: SpaceMono-Regular;
    src: url('/assets/fonts/SpaceMono-Regular.ttf');
  }

  @font-face {
    font-family: WorkSans-Regular;
    src: url('/assets/fonts/WorkSans-Regular.ttf');
  }

.podcast-holder{

    margin: 0 auto;
    width: 55%;
    padding: 25px;
    display: flex;
    flex-direction: row;

    @media only screen and (max-width: 414px) {
        width: 95%;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 15px;
        margin-right: 30px;
        display: block;
      }

    .circle{
        border-radius: 50%;
        height: 3em;
        width: 7.5%;
        background-image: linear-gradient(179deg, #FD741B 0%, #A300BB 100%);
        margin-right: 70px;

        @media only screen and (max-width: 414px) {
            width: 10%;
            position: absolute;
            z-index: 1;
            margin-top: -25px;
          }


        .number{
            line-height: 37px;
            vertical-align: middle;
            text-align: center;
            font-family: SpaceMono-Bold;
            font-size: 30px;
            color: #FFFFFF;
        }
    }

    .podcast-card{
        
        
        padding: 15px;
        box-shadow: 0 0 10px 0 rgba(165,2,186,0.25);
        border-radius: 3px;
        display: flex;
        width: 100%;

        @media only screen and (max-width: 414px) {
            display: block;
            margin-right: 10px;
            width: fit-content;
            
        }

        .podcast-image{

            position: absolute;
            top: 20px;
            left: -50px;

            @media only screen and (max-width: 414px) {
                left: -15px;
            }

            img{
                height: 145px;
                width: 145px;

                @media only screen and (max-width: 414px) {
                    height: 106px;
                    width: 106px;
                }
                
            }
        }

        .podcast-content{

            display: inline-flex;
            padding-left: 100px;
            flex-direction: column;
            margin-right: 15px;
            max-width: 40%;
            min-width: 40%;

            @media only screen and (max-width: 414px) {
                max-width: 80%;
                min-width: 80%;
                padding-left: 85px;
            }

            .podcast-title{
                max-width: 290px; 
                font-family: SpaceMono-Bold;
                font-size: 30px;
                color: #222222;
                line-height: 30px;  
            }

            .subtitle{

                margin-bottom: 8px;
                color: #222222;
                font-family: SpaceMono-Regular;

                .authors{
                    font-family: SpaceMono-Regular;
                    font-size: 14px;
                    color: #A300BB;
    
                }

            }

            .episodes{
                font-family: SpaceMono-Regular;
                font-size: 12px;
                color: #222222;
                padding-bottom: 25px;
            }

            .divider{
                border: 1px solid #CCCCCC;

                @media only screen and (max-width: 414px) {
                    max-width: 77%;
                }
            }

            .podcast-links{

                font-family: SpaceMono-Bold;
                font-size: 12px;
                color: #777777;

                a{
                    align-content: space-around;
                    padding:10px;
                    text-decoration: none;
                    color: #777777;
                    line-height: 17px;
                }
                


            }
            
            
        }

        .podcast-description{

            display: inline-flex;
            flex: 1;
            font-family: WorkSans-Regular;
            font-size: 14px;
            color: #000000;

            @media only screen and (max-width: 414px) {
                margin-top: 15px;
              }
            
        }
    }
}

